@import "tailwindcss";

/* Shimmer Animation */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.shimmer-animation {
  animation: shimmer 2s infinite;
}
